<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}{% endblock title %} - WhyNot</title>
    {% endblock head %}
</head>
<body>
    <div id="content">{% block content %}{% endblock content %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2024 by Ladas552.
        Greatest gratitude towards Neorg and Norgolith devs
        {% endblock footer %}
    </div>
</body>
</html>
