<!DOCTYPE html>
<html lang="{{ config.language }}">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    {% if metadata.description and not metadata.description == "nil" %}
    <meta name="description" content="{{ metadata.description }}" />
    {% endif %}
    {% if metadata.authors %}
    <meta name="author" content="{{ config.author }}" />
    {% endif %}
    {% if metadata.categories %}
    <meta name="keywords" content="{{ metadata.categories | join(sep=", ") }}" />
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {# PrismJS #}
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism-themes/1.9.0/prism-one-dark.min.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism-themes/1.9.0/prism-night-owl.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
    {# User-defined styling #}
    {# safari hate js #}
    <script src="{{ config.rootUrl }}/assets/js/apple_roll.js"></script>
    {# css and icons #}
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/assets/images/nix-snowflake-rainbow.svg" />
    <title>{% block title %}{% endblock title %} - {{ config.title | title }}</title>
    {% endblock head %}
  </head>
  <body class="body">
    {# nav bar #}
    <header class="relative shadow-sm">
      {% include "partials/nav.html" %}
    </header>
    {# post content #}
    <main>
      <div id="content" class="content">{% block content %}{% endblock content %}</div>
    </main>
    {# footer bar #}
    <!-- <footer class="footer"> -->
    <!-- {% include "partials/footer.html" %} -->
    <!-- </footer> -->
  </body>
</html>
