/* inline code blocks */
code {
  font-family: "JetBrains Mono", monospace;
  background-color: #011627;
  border-radius: 6px;
  padding: 0px 4px;
}

/* PrismJS specific css code blocks*/
code[class*="language-"] {
  text-shadow: unset !important;
  font-family: "JetBrains Mono", monospace !important;
  background-color: #011627;
  border-radius: 6px;
  padding: 0px 0px;
  pointer-events: none;
  width: 3em; /* works for line-numbers below 1000 lines */
  /* white-space: pre-wrap; */
  /* word-wrap: break-word; */
}

pre[class*="language-"] {
  border: 1px solid #f2cdcd;
}

/* PrismJS line-numbers plugin
pre[class*="language-"].line-numbers {
position: relative;
padding-left: 3.4em;
counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
position: relative;
white-space: inherit;
}
pre[class*="language-"].line-numbers {
position: relative;
padding-left: 3.8em;
counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
position: relative;
white-space: inherit;
}
.line-numbers .line-numbers-rows {
position: absolute;
pointer-events: none;
top: 0;
font-size: 100%;
left: -3.8em;
width: 3em; # works for line-numbers below 1000 lines
letter-spacing: -1px;
border-right: 1px solid #999;

-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.line-numbers-rows > span {
display: block;
counter-increment: linenumber;
}

.line-numbers-rows > span:before {
content: counter(linenumber);
color: #999;
display: block;
padding-right: 0.8em;
text-align: right;
} */
