@import "font.css";
@import "code-blocks.css";
@import "font.css";
@import "footer.css";
@import "nav-bar.css";

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #c9d1d9;
    background: #0d1117;
  }
}

/* change color of headings */
h1{
  color: #F5A97F;
  font-size: calc(1rem * pow(1.1, 4));
  text-align: center;
}
h2{
  color: #7DC4E4;
  font-size: calc(1.1rem * pow(1.1, 2));
}
h3{
  color: #F5A97F;
  font-size: calc(1rem * pow(1.1, 1));
}
h4{
  color: #A6DA95;
  font-size: calc(1rem * pow(1.0, 1));
}
h5{
  color: #7DC4E4;
  font-size: calc(1rem * pow(1.1, 0));
}
h6 {
  color: #7DC4E4;
  font-size: calc(1rem * pow(1.1, -1));
}

/* add your own norg icons here*/
h2::before{
  content: '◉ ';
}
h3::before{
  content: '◎ ';
}
h4::before{
  content: '○ ';
}
h5::before{
  content: '✺ ';
}
h6::before{
  content: '▶ ';
}
h7::before {
  content: '⤷ ';
}

/* Styling */

.body {
  color: white;
  background-color: #24273A;
  font-family: "JetBrains Mono", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  position: relative;
  padding-bottom: 1em;
}

/* Main content of the page */
.content{
  width: auto;
  max-width: 650px;
  margin: 40px auto;
  padding: 0 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  line-height: auto;
  text-align: auto;
  text-justify: inter-word;
}

.content a:link {
  color: #b4befe;
  text-decoration: none;
}

.content a:visited {
  color: #7E7EFF;
}
/* links colors on interactions */
.content a:hover {
  color: #f38ba8;
}

.content a:active {
  color: #202030;
}

/* make bold text red */
.content b, strong {
  color: #EE99A0;
}


/* Box */
.flex-container {
  width: auto;
  display: flex;
  grid-auto-flow: column;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  gap: 2em;
	margin: 0 auto;
}
.flex-box {
  display: block;
  border-radius: 20px;
  border: 2px solid #8aadf4;
  background-color: #1e2030;
  padding: 0em 1em 1em 1em;
  box-shadow: 0px 0px 0.2em #8aadf4;
  transition:box-shadow 400ms ease-in-out, bottom ease-in-out 600ms;
  width: 40%;
  height: auto;
  position: relative;
  bottom: 0px;
}
.flex-box:hover {
  transition:box-shadow 600ms ease-in-out, bottom ease-in-out 600ms;
  box-shadow: 0px 0px 1.3em #8aadf4;
  bottom: 5px;
}
/* css class for descriptions under "recent posts" */
.flex-box p{
  color: #b7bdf8;
  font-size: 12px;
}
.flex-box h3::before{
  content: ' ';
}
/* classes for images */
/* center images */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.pokemon {
  flex-direction: row;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5em;
  padding-bottom: 2em;
  align-content: space-evenly;
  text-align: center;
  flex-direction: row;
}

/* Customize the scrollbar */
* {
  scrollbar-width: thin; /* Width of the scrollbar */
  scrollbar-color: #64687E #1E1E2E;
}
