<nav class="navigation">
  <div class="nav-brand">
    <a href="{{ config.rootUrl }}">
      <img src="/assets/images/nix-snowflake-rainbow.svg" alt="Site icon" class="nav-icon">
      {{ config.title }}
    </a>
  </div>
  <ul class="nav-links">
    <li><a href="{{ config.rootUrl }}/posts">Posts</a></li>
    <li><a href="{{ config.rootUrl }}/meta/about">About</a></li>
    <li><a href="{{ config.rootUrl }}/meta/credits">Credits</a></li>
  </ul>
  <ul class="nav-icons">
    <li><a href="{{ config.rootUrl }}/rss.xml" title="RSS"><i class="nf nf-md-rss_box"></i></a></li>
  </ul>
</nav>