{% extends "base.html" %}
{% block title %}{{ metadata.title | title }}{% endblock title %}
{% block content %}
{{ content | safe }}

{# Latest 5 non-draft blog posts, ordered automatically by date #}
<section>
  <div class="flex-container">
    {% for post in posts | filter(attribute="draft", value=false) | filter(attribute="meta", value=false) %}
    {# for post in posts #}
    <div class="flex-box" id="flex-box">
      <h3><a href="{{ post.permalink }}">{{ post.title }}</a></h3>
      <div id=description>
        <description>
        <span>{{ post.description }}</span>
        <p><span>Released: {{ post.created }}</span></p>
        </description>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock content %}
