<nav x-data="menu" class="container mx-auto px-4 md:px-0 font-mono">
  <div class="flex items-center justify-between h-16">
    <!-- Logo and dark mode -->
    <div x-data="theme" class="flex items-center shrink-0">
      <a href="/" class="flex items-center space-x-2">
        <!-- <img src="{{ config.rootUrl }}/assets/nix-snowflake-rainbow.svg" alt="Norgolith Logo" class="h-8 w-8"> -->
        <span class="text-xl font-bold text-text">{{ config.title | title }}</span>
      </a>
        <span>{{config.rootUrl}}</span>
    </div>
  </div>
</nav>
